#pages-wrapper {
    position: absolute;
    top: 96px;
    bottom: 96px;
    left: 0;
    right: 0;
    margin: auto;
    white-space: nowrap;
}
#page-left, #page-right {
    height: 100%;
    width: 50%;
    display: inline-block;
}
#page-left-img, #page-right-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
