#pages-wrapper {
    position: absolute;
    top: 96px;
    bottom: 96px;
    left: 0;
    right: 0;
    margin: auto;
    white-space: nowrap;
}

#page-left, #page-right {
    height: 100%;
    width: 50%;
    display: inline-block;
    position: relative;
}

#page-left-img, #page-right-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#page-left-content, #page-right-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
}

.interactive-zone {
    position: absolute;
    border: solid 2px #AEAEAE;
    border-style: dashed;
    z-index: 64;
}

.interactive-zone:hover {
    background-color: rgba(153, 102, 0, 0.3);
}

.interactive-zone[intType='play'] {
    background-image: url('../var/play.png');
    background-size: 0px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-size 0.25s cubic-bezier(.17, 1.83, .76, .77);
    cursor: pointer;
}

.interactive-zone[intType='play']:hover {
    background-size: 128px 128px;
}
