#pages-wrapper {
    position: absolute;
    top: 96px;
    bottom: 96px;
    left: 0;
    right: 0;
    white-space: nowrap;
}
#toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    background: #FAFAFA;
    box-shadow: 0 0 4px #AEAEAE;
}
#left-page, #right-page {
    position: absolute;
    bottom: 0;
    top: 0;
}
#left-page {
    right: 50%;
}
#right-page {
    left: 50%;
}
