#summary {
    position: absolute;
    top: 64px;
    left: 100%;
    width: 100%;
    bottom: 64px;
    transition: left 0.25s;
    border-top: solid 1px #AEAEAE;
    border-bottom: solid 1px #AEAEAE;
    font-size: 20px;
    font-family: 'Lato-Regular';
    overflow: hidden;
    padding: 30px;
    background-color: #FFFFFF;
    overflow-y: auto;
    z-index: 256;
}

#summary-title {
    font-family: 'Lato-Regular';
    font-weight: bold;
    font-size: 20px;
}

.summary-item-h[summarylinkpagecursor="pointer"], .summary-item-l[summarylinkpagecursor="pointer"] {
    cursor: pointer;
}

.summary-item-h, .summary-item-l {
    padding: 5.5px 20px;
    padding-right: 30px;
    margin-left: 10px;
    font-size: 16px;
    background-image: url('../res/summary-item-middle.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    overflow: hidden;
    position: relative;
}

.summary-item-h:hover, .summary-item-l:hover {
    background-color: #EAEAEA;
}

.summary-item-h-last {
    background-image: url('../res/summary-item-last.png');
}

.summary-item-l {
    margin-left: 60px;
}

.summary-item-l-last {
    background-image: url('../res/summary-item-last.png');
}

.summary-page-number {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    height: 16px;
    line-height: 16px;
    color: #000000;
}
