#toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    background: #FAFAFA;
    box-shadow: 0 0 4px #AEAEAE;
}
#toolbar-dragger {
    position: absolute;
    left: 75px;
    right: 75px;
    height: 64px;
}
#toolbar-dragger-line {
    display: inline-block;
    background: #AEAEAE;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    height: 2px;
    box-shadow: 0 0 1px #AEAEAE;
}
#toolbar-dragger-anchor {
    margin-top: -7px;
    margin-left: -12px;
    width: 27px;
    height: 17px;
    background: #EAEAEA;
    box-shadow: 0 0 4px #1A1B1C;
    border-radius: 3px;
}
